*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: rgb(3, 35, 36);
    background-color: rgba(46, 73, 63, 0.726);
    font-family: cursive;
}
.container{
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fillStyle, .strokeStyle, .lineWidth{
    height: 15%;
    padding: 50px 50px;
}
.fillStyle>h2, .strokeStyle>h2, .lineWidth>h2{
    text-shadow: 0 3px 5px #fff;
}
.lineWidth>input{
    width: 20%;
    height: 80%;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgba(111, 170, 153, 0.5);
    text-align: center;
}
.icons>i{
    width: 15%;
    height: 15%;
    padding: 10px 10px 20px;
    cursor: pointer;
    text-shadow: 0 3px 5px rgba(255, 255, 255, 0.5);    
}
input{
    cursor: pointer;
    background-color: rgba(46, 73, 63, 0.726);
    border: none;
}
@media screen and (max-width: 840px){
    *{
        font-size: 13px;
    }
    canvas{
        width: 100%;
    }
    .fillStyle, .strokeStyle, .lineWidth{
        height: 10%;
        padding: 0;
    }
    .icons>i{
        font-size: 30px;
    }
    .lineWidth>input{
        font-size: 15px;
    }    
}